.about-box {
  border: solid 1px #ebebeb;
  padding: 35px 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  text-align: center;
  &-title {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #203656;
  }
  &-text {
    font-size: 15px;
    color: #8f9bad;
    padding: 20px 0;
    font-family: "Poppins", sans-serif;
  }
  > .social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    padding-right: 0;

    > i {
      font-size: 16px;
      margin-right: 25px;
      color: #203656;
    }
  }
}
