.footer {
  padding-bottom: 40px;
  position: relative;
  .footer-inner {
    border-top: 1px solid #ebebeb;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .footer-left {
      > span {
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        color: #9faabb;
      }
    }
    .footer-center {
      .social-box {
        > i {
          font-size: 16 px;
          color: #203656;
        }
      }
    }
    .footer-right{
      .top-btn{
        padding: 5px 10px;
        border : solid 1px black;
        border-radius: 10px;
        color: #8F9BAD;
        font-size: 13px;
        border: solid 1px #EBEBEB;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        &:hover{
          background: linear-gradient(to left, #5389f5, #d39ffcfa);
          color: white;
          font-weight: bold;
          font-family: "Poppins", sans-serif;
        }
      }
    }
    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      line-height: 3;
    }
  }
}
