.slick-slider {
  border-radius: 10px;
  box-shadow: rgba(230, 230, 230, 0.733) 0px 7px 29px 0px;
  background-color: white;
  position: relative;
  overflow: hidden;
  img {
    height: 528px;
    max-height: 530px;
    object-fit: fill;
    @media screen and (max-width: 700px) {
      height: 425px;
    
    @media screen and (max-width: 400px) {
      height: 300px;
    }
  }
  }
}